<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triangle</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/circle">Circle Calculator</a></li>
          <li><a href="/triangle">Triangle Calculator</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Triangle Calculator</h1>
      <form action="/triangle" method="post">
        <section>
          <label for="base">Base: </label>
          <input type="text" name="base" id="base" />
        </section>
        <br />
        <section>
          <label for="height">Height</label>
          <input type="text" name="height" id="height" />
        </section>
        <br />
        <button type="submit">Calculate</button>
      </form>
    </main>
  </body>
</html>
